@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    /* height: auto; */
}
.hero-prince{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-prince nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-hero{
    width: 180px;
    /* filter: grayscale(1); */

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: all 200ms ease;
    /* text-transform: uppercase; */
    letter-spacing: 5px;

}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    -webkit-transition: all 2s cubic-bezier(1, 0.02, 0, 0.98);
    transition: all 2s cubic-bezier(1, 0.02, 0, 0.98);
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.scroll{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 40%;
    /* margin-left: 50%; */
    position: absolute;
}
.scroll .h2-scroll{
    font-size: 1.6rem;
    color: #fff;
    font-weight: 300;
    transition: all 1s ease-in;

}
.scroll > div{
    height: 80px;
    background-color: #fff;
    width: 3px;
    margin: 0 auto;
    transition: all 1s ease-in;
}

/*-- people me --*/
.curriculo-me{
    width: 100%;
    height: 110vh;
    /* background-color: #224463; */
    background-image: url(https://images.pexels.com/photos/4974915/pexels-photo-4974915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:2% ;
    position: relative;
    display: flex;
}


.curriculo-me .resume{
    width: 400px;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    position: absolute;
    margin: 0 3%;
    
    /* From https://css.glass */
    background: rgba(221, 221, 221, 0.12156862745098039);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: -3px 4px 53px 25px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 4px 53px 25px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 4px 53px 25px rgba(0,0,0,0.75);
    

}

.curriculo-me .resume .img-title{
    width: 340px;
    border-radius: 50%;
    margin: 5% auto;
}
.resume .descript-func{
    font-size: 1.1rem;
    color: #FF8C32;
    font-weight: 600;
    text-align: center;
}
.resume .name-title{
    font-size: 3rem;
    color: #06113c;
    text-align: center;
}
.resume .span-subname{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin-left: 74.5px;
    margin-top: -20px;
    color: #06113c;

}
.resume .idade-p{
    color: #FF8C32;
    margin: -1% 18%;
    font-size: 1.2rem;

}
.resume .encap-social{
    width: 90%;
    height: 10%;
    margin: 3% auto 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.resume .h1-social{
    font-size: 1.5rem;
    color: #FF8C32;
    margin: 8% auto 2% auto;
    font-weight: 300;
   word-break: break-all;
   text-align: center;
}
.resume .encap-social .circule-social{
    border: 2px solid #FF8C32;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;   
}
.resume .encap-social .circule-social > i{
    font-size: 2.5rem;
    opacity: 200;
    color: #fd9546;
}
.curriculo-me .dados-pessoal{
    width: 65%;
    height: 94%;
    margin-left: 30%;
    border-radius: 50px;
    overflow-y: scroll;
    position: absolute;
    /* background-color: #06113c; */
}
.curriculo-me .dados-pessoal .estudos{
    width: 95%;
    height: 50vh;
    /* background-color: #dddddd48; */
    margin: 3% auto;
    flex-wrap: wrap;

}
.dados-pessoal .estudos .estudos-h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    color: #FF8C32;
    /* word-break: break-all ; */

    border-radius: 50px;
    
}
.dados-pessoal .estudos .cont-tema{
    width: 300px;
    height: 180px;
    background-color: #fd9546;
    display:inline-flex ;
    margin-top:20px ;
    margin-left: 15px;
    border-radius: 5px;
    flex-direction: column;
}
.estudos .cont-tema .numb{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2% ;
    padding: 5px;
    background-color: #06113c;
    color: #DDDDDD;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.estudos .cont-tema .h1-tema{
    font-size: 1.3rem;
    margin: -13% 0 5px 18%;
    color: #06113c;
}
.estudos .cont-tema .p-tema{
    font-size: 1rem;
    color: #fff;
    margin: 0 5%;
    margin-bottom: 10px;
}
.estudos .cont-tema .p-tema > span{
    color: #06113c;
    font-weight: 600;
    float: right;
}
.areas-btn{
    width: 500px;
    height: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 52% 0 0 30%;
    transform: translate(50%,-50%);
    background-color: #dddddd71;
    position: relative;
    z-index: 100;
}
.areas-btn .areas-h1{
    font-size: 1.3rem;
    position: absolute;
    font-weight: 600;
    color: #06113c;
    margin: -22% auto 2px auto;
}
.areas-btn .nextArea{
    background-color: transparent;
    width:50% ;
    height: 90px;
    font-size: 1.4rem;
    border-radius: 10px;
    color: #06113c;
    border: none;
    /* word-wrap: normal; */
}
/*INFORMAÇÔES BASICAS*/
.dados-pessoal .pers-estudos{
    background-color: #06113c62;
    height: 90%;
    width: 100%;
    display: none;
    overflow: hidden;
}
.dados-pessoal .pers-estudos .pers-estudos-h1{
    font-size: 3rem;
    color: #DDDDDD;
    text-align: center;
    margin-top: 2%;
    font-weight: 500;
}
.dados-pessoal .pers-estudos .pers-estudos-carta{
    width: 90%;
    margin: 3% auto;
    color: #DDDDDD;
    display: inline-flex;
  

}

.dados-pessoal .pers-estudos .fa-solid{
    font-size: 3.3rem;
    color: transparent;
    -webkit-text-stroke: #fd9546 2px;
    margin: 5% 2%;
}

.dados-pessoal .pers-estudos .pers-estudos-carta .pers-estudos-carta-p{
    font-size: 1rem;
    width: 100%;
    
}
.pers-estudos-carta .pers-estudos-carta-p span{

    font-size: 1.5rem;
    text-align: center;
    color: #fd9546;
    text-transform: uppercase;

}

/*--- project-M ---*/
.project-M{
    width: 100%;
    height: 210vh;
    background-color: #06113c;
    /* position: absolute; */
    position: relative;

    display: flex;
    flex-wrap: wrap;
    /* z-index: ; */
    overflow: hidden;
}
.project-M .bar-destac2{
    width: 2100px;
    height: 1000px;
    background-color: #fd9546;
   
    transform: rotate(-12deg); 
    margin-top: 69%;
    margin-right: 30%;
    z-index: -2;
    position: absolute;
}

.project-M .names-areas{
    width: 780px;
    height: 120px;
    margin-top: 3% ;
    margin-left: -3%;
    text-align: center;

}
.project-M .names-areas h1, .names-areas2 h1{
    color: #dddddd;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-top: -5%;
    margin-bottom: 8px;
}
.project-M .names-areas p, .names-areas2 p{
    color: #fd9546;
    font-size: 1rem;
    text-transform: lowercase;
    margin-top: -5%;
    margin-left: 5px;

}
.project-M .names-areas2{
    margin-top: 55%;
    width: 780px;
    height: 120px;
    text-align: center;
    /* margin-top: 3% ; */
    margin-left: -48%;

}

/*- - projectsDev - -*/

.project-M .projectsDev{
    height: 620px;
    width: 1335px;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    /* background-color: #DDDDDD; */
}
.project-M .projectsDev2{
    height: 620px;
    width: 1335px;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.project-M .ballNavigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}
.project-M .ballNavigation .ballBars{
    width: 71px;
    height: 17px;
    border: 2px solid #FF8C32;
    margin: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: .400s ;
}
 .ballSlides input[type=radio]{
    display: none;
}
.projectsDev .ballSlides,.projectsDev2 .ballSlides{
    display: flex;
    width: 400%;
    height: 100%;

}
.projectsDev .ballSlides .slides, .projectsDev2 .ballSlides .slides2{
    width: 25%;
    transition: .6s;
    border: 2px solid #fd9546;
    border-radius: 30px;

}
.projectsDev .ballSlides .slides img,.projectsDev2 .ballSlides .slides2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;

}
.projectsDev .ballSlides .slides .slidesDesc, .projectsDev2 .ballSlides .slides2 .slidesDesc{
    position: absolute;
    width: 30%;
    height: 70%;
    top: -40%;
    right: 55%;
    transform: translate(-50%,80%);
    color: #DDDDDD;
    background-color: #06113c7e;
    padding: 6px;
    display: none;
}
#c1,#c5{
    display: block;
}
/*-- contact-M --*/
.contact{
    width: 100%;
    height: 160vh;
    background-color: #06113c;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* z-index: -1; */
    overflow-x: hidden;
    /* margin-top: 100%; */
    /* transform: translateY(5%); */
}
.bar-destac{
    width: 2100px;
    height: 250px;
    background-color: #fd9546;
   
     transform: rotate(-6deg); 
     margin-top: -120px;
        margin-left: -25px;
    position: relative;
}

.contact .contact-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    /* object-fit: ; */
    z-index: 0;
   overflow: hidden;
    
}
.contact .contact-title{
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    /* z-index: -1; */
}
.contact .contact-title .title-h2{
    font-size: 5rem;
    color: #fd9546;
    margin: 7% auto 0 2%;
    text-transform: capitalize;
    
}
.contact .contact-title .title-p{
    font-size: 1.62rem;
    margin: -1% auto 0 3%;
}
.contact .form-contact{
    width: 50%;
    height: 90vh;
    /* background-color: #06113c; */
    /* z-index: -1; */
    position: absolute;
    left: 2%;
    top: 20%;

}
.contact .form-contact form{
    display: flex;
    flex-direction: column;
    
}
.contact .form-contact form .form-contact-label{
    font-size: 1.9rem;
    color: #fd9546;
    font-weight: 600;
    
}
.contact .form-contact form .form-contact-input{
    width: 50%;
    font-size: 15px;
    padding-left: 12px;
    background-color: transparent;
    border: 3px solid #06113c;
    border-radius: 10px;

}
.contact .form-contact form .form-contact-txta{
    width: 70%;
    height: 300px;
    font-size: 15px;
    padding: 12px;
    background-color: transparent;
    border: 3px solid #06113c;
    border-radius: 10px;



}
.contact .form-contact form .form-contact-sub{
    width: 190px;
    height: 80px;
    border:2px solid #06113c;
    font-size: 2em ;
    background-color: transparent;
    font-weight: 400;
    margin: 2% 0% 0 46%;
    border-radius: 5px;
}
/*--- DETAILS AREA*/
.contact .contacts-details{
    width: 30%;
    height: 80%;
    /* background-color: #06113c50; */
    /* z-index: -1; */
    position: absolute;
    right: 2%;
    top: 5%;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact .contacts-details .details-cubes{
    width: 90%;
    height: 30%;
    background-color: #dddddd7e;
    margin: 3% auto;
    border-radius: 20px;
}
.contact .contacts-details .details-cubes .cubes-left{
    width: 40%;
    height: 100%;
    background-color: #06113c;
    border-radius: 20px 0 0 20px;
    display: flex;
    float: left;
}
.contact .contacts-details .details-cubes .cubes-left .fa-solid{
    color: #DDDDDD;
    font-size: 5rem;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: auto;
    margin-right: auto;
}
.contact .contacts-details .details-cubes .cubes-right{
    width: 60%;
    height: 100%;
    float: right;
    z-index: 1;
}
.contact .contacts-details .details-cubes .cubes-right .cubes-h1{
    /* margin-top: 5%; */
    font-size: 2rem;
    margin: 25% 5%;
    color: #06113c;
    text-transform: capitalize;

}
/*- footer-g -*/
.footer-g{
   
    width: 100%;
    height: 30vh;
    /* background-color: #fd9546; */
    background-size: cover;
    background-repeat: no-repeat;
    background: url(https://images.pexels.com/photos/5380641/pexels-photo-5380641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center;
    position: absolute;
    margin-top: -3%;
    /* flex-direction: ; */
    display: flex;
    font-family: 'Open Sans', sans-serif;
    
    /* justify-content: space-between; */

}
.footer-g .footer-g-encap{
    width: 100%;
    height: 100%;
    background: #06113c41;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    position: absolute;
    overflow: hidden;
    flex-direction: column;
    display: flex;
}


/*footer-g-middle ORGANIZA*/

.footer-g .footer-g-middle{
    width: 100% ;
    height: 80%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;


}
.footer-g .footer-g-middle .footer-g-middle-uptitle{
    font-size: 1rem;
    color: #DDDDDD;
    margin: 5% 0 0 0;
    text-transform: capitalize;

}
.footer-g .footer-g-middle .footer-g-middle-title{
    font-size: 3rem;
    color: #DDDDDD;
    margin-top: -1%;
}
.footer-g .footer-g-middle .footer-g-middle-title span{
    font-size: 1.1rem;
    /* color: #fd9546; */
    /* top: -3%; */

}
.footer-g .footer-g-middle .footer-g-middle-cont{
    color: #DDDDDD;
    font-size: 0.9rem;
    margin-top: -1%;
    text-transform: capitalize;


}
/*footer-g-right ORGANIZA*/

.footer-g .footer-g-bottom{
    width: 100% ;
    height: 20%;
    display: flex;
    flex-direction: row;
    margin: 0% auto;
    background-color: #06113c41;
    font-family: 'Open Sans', sans-serif;

    
}
.footer-g .footer-g-bottom .footer-g-bottom-ul{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    margin: 0.5% auto;
    /* align-items: center; */
}
.footer-g .footer-g-bottom .footer-g-bottom-h1{
    font-size: 1.3rem;
    color: #DDDDDD;
    font-weight: 400;
    margin-right:20px;
    text-transform: uppercase;
}
.footer-g .footer-g-bottom li{
    margin: 1%;
}
.footer-g .footer-g-bottom li .footer-g-bottom-a{
    text-decoration: none;
    color: #fd9546;
}
.footer-g .footer-g-bottom .footer-g-bottom-social{
    font-size: 1.3rem;
    color: #fd9546;
    margin: 0.5% 7px;

}
.return{
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 30px;
    margin: 1%;
    bottom: 0;
    cursor: pointer;


}
.return .fa-solid{
    color: #DDDDDD;
    font-size: 2rem;
    
}

/* --- Effects and muders --- */
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;

}
.content a:hover{
    box-shadow: inset -400px 0 0 0 #fff;
    color: black;
    font-size: 26px;
    
}
.resume .encap-social .circule-social:hover{
    box-shadow: inset 00px 400px 0 0 #ff8b3275;
    border: none;
    color: #06113c;
}
.circule-social:hover i{
    color: #06113c;

}
.curriculo-me .dados-pessoal::-webkit-scrollbar{
    display: none;
}
.ballNavigation .ballBars:hover{
    background-color: #FF8C32;
}

/* .estudos .estudos-h1:hover{
    -webkit-text-stroke: 2px #fd9546;
    color: transparent;

} */
#slide1:checked ~ .s1,#slide5:checked ~ .s2{
    margin-left: 0;
    
}

#slide2:checked ~ .s1,#slide6:checked ~ .s2{
    margin-left: -25%;
}
#slide3:checked ~ .s1,#slide7:checked ~ .s2{
    margin-left: -50%;
    
}
#slide4:checked ~ .s1,#slide8:checked ~ .s2{
    margin-left: -75%;
}
.project-M .names-areas::after{
    
transform:rotate(30deg);
}
.footer-g .footer-g-left .footer-g-left-ul .footer-g-left-h1:nth-child(1){
    font-size: 1.5rem;
    color: #fd9546;
    font-weight: 500;
}

/* --- Medias --- */
@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
@media (max-width: 1200px) {
    .curriculo-me{
        height: 125vh;
    }
    .resume{
        transform: scale(0.9);
    }
    .dados-pessoal .estudos{
        width: 90%;
        height: 110vh;
        transform: translateX(5%);
        text-align: center;
        /* overflow: hidden; */
    }
    .dados-pessoal .estudos .cont-tema{
        transform: scale(0.9);
        margin-top:10px ;
        margin-left: 5px;
 
    }

    .areas-btn {
       transform: translate(-69%, 40%);
       background-color: transparent;
    }
    .areas-btn .nextArea{
        transform: scale(0.75);
        color: #fd9546;
        margin-left: -12%;

    }

    /*-- SLIDES --*/
    .projectsDev{
       margin-top: -5%;

    }
    .names-areas{
        margin-top: 2%;
    }
    .projectsDev2{
        margin-top: -14%;
    }
    .names-areas2 h1, .names-areas2 p{
        text-align: left;
        margin-left: -30px;
        
    }
    .slides,.slides2{
        transform: scale(0.75);
        

    }
    .project-M{
        height: 200vh;
    }
    .project-M .ballNavigation{
        /* transform: translateY(-79%); */
        margin-bottom: 05%;
    }

    /*-contact area*/
    .details-cubes{
        transform: scale(0.9);

    }
  
}
