@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*-- -Utility Classes- --*/
.btn-primary{
    background: #1d8954;
    color: white;
    text-transform: uppercase;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}
.logo{
    height: 40px;
    width: auto;
}

/*---- GERAL ----*/
body{
    font-family: 'Roboto', sans-serif;
}
#navbar{
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar .navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}

#navbar .navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}
#navbar .navbar-container ul li{
    padding: 0 20px ;
    transition: all 700ms ease;
}
#navbar .navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}

/*-- Showcase --*/
#showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(../img/showcase.webp);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}
#showcase .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#showcase .showcase-container h2{
    font-size: 5.2rem;

}
#showcase .showcase-container p{
    margin: 15px 0;
    font-size: 1.1rem;
}
/*-- FOOTER --*/
#footer{
    background-color: #191919;
    color: white;
    padding: 80px 0;
}
#footer .footer-content{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}
#footer .footer-content .footer-menu{
    margin: 0 60px;
    list-style: none;
    
}
#footer .footer-content .footer-menu .footer-menu-item{
    margin: 25px 0;
    transition: all 500ms ease;
}
#footer .footer-content .footer-menu p{
    font-weight: bold;
    text-transform: uppercase;
    color: #919495;
    font-size: 0.8rem;
}

/*--- FOOTER SOCIAL---*/
.social{
    display: flex;
}
.social > i{
    margin: 0 20px;
    font-size: 1.7rem;
    transition: all 300ms ease;
}
/*-- FOOTER INFO --*/
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919495;
    font-size: 0.75rem;
    padding-top: 50px;
}
.footer-info .footer-info-items{
    display: flex;
    list-style: none;
}
.footer-info .footer-info-items .footer-info-item{
    margin: 0 10px;
    transition: all 100ms step-end;
}

.footer-info .rights .country{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    transition: all 150ms ease;
}
.footer-info .rights .country .brazil-flag{
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}
/*-- MODAL or POPUP --*/
#modal{
    background-color: #19191969;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
}
#modal .modal-container{
    width: 1000px;
    height: 500px;
    background-color: #1d8954;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 2% 0;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 30px;


}
#modal .modal-container > i{
    font-size: 2.5rem;
    padding: 2% 5% 2% 0%;
    color: #191919;
    float: right;
}
#modal .modal-container .modal-login{

    height: 100%;
    margin-top: 10%;
    display: flex;
    margin: 0 -12%;
    width: 65%;
    border-right: 1px solid #191919;
    /* align-items : center; */
    justify-content : center;
    /* font-family: 'Poppins', sans-serif; */
   
}
#modal .modal-container .up-modal-title{
    width: 40%;
    height: 25%;
    margin: 17% 0 5% 99%;
    text-align: center;
    border-radius: 30px;
    position: absolute;
}
.up-modal-title .modal-title{
    color: #D8F9DB;
    font-size: 5em;
    margin-left: 20px;
}
.up-modal-title p{
    font-size: 0.9rem;
    color: #D8F9DB;
    margin: -0.5% 0 5% 0;
    font-weight: 100;
}
/*-- FORM --*/
.modal-container .form-modal{
    margin: 2%;
    height: 50%;
    width: 60%;
    position: absolute;
     border-bottom: 1px solid #191919; 
 
    
}
.modal-container .form-modal .up-form-title{
    font-size: 2rem;
    color: #D8F9DB;
    margin: 2% 2%;
}
.modal-container .form-modal .input-modal{
    width: 70%;
    height: 35px;
    flex-direction: column;
    padding: 2% ;
    margin: 2% 2%;
    font-size: 1.5em;
    border: 1px solid #4dbe75;
    border-radius: 10px;
    background-color: transparent;
    color: #D8F9DB;

}

.modal-container .form-modal .btn-send{
    width: 30%;
    height: 15%;
    background-color: transparent;
    border: 2px solid #D8F9DB;
    border-radius: 10px;
    color: #D8F9DB;
    font-size: 1.5rem;
    margin: 1% 2%;
    transition: all 200ms ease;

}
#modal .modal-container .modal-login .social-log{
    width: 90%;
    height: 30%;
    margin: 45% 0;
    color: #D8F9DB;
}
.modal-login .social-log .up-social-title{
   margin: 2% auto;
   text-align: center;
   width: 100%;
   font-size: 1.5em;
}
.modal-login .social-log div{
    margin: 5% auto;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.modal-login .social-log .ball-social{
    width: 14%;
    border-radius: 50%;
    height: 80px;
    margin: 3%  auto ;
    background-color: #191919;
    text-align: center;
    padding: 2% 0;

}
.ball-social > i{
    color: #1db954;
    font-size: 3em;
}








/*---------------------------------------------------------------------- STATE MUDER ------------------------------------------------------------------------------------*/
#navbar .navbar-container ul li:hover{
    color: #1db954;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #1db954;
    cursor: pointer;
}
#footer .footer-content .footer-menu .footer-menu-item:hover{
    color: #1d8954;
}
.social i:hover{
    color: #1d8954;
    cursor: pointer;
}
.footer-info .footer-info-items .footer-info-item:hover,.country:hover{
    color: #1d8954;
    cursor: pointer;
}
.modal-container .form-modal .btn-send:active{
    transform: scale(1.1);
    
}
.form-modal .input-modal::placeholder{
    color: #4dbe75;
    padding: 2% 0;
}
.form-modal .input-modal:focus{
    border: none;
    background-color: transparent;
    outline: 1px solid #1db954;
}